* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 2000px;
  background-color: tomato;
}

#anchor {
  height: 360px;
  width: 100%;
  background-color: #F0F0F0;
}

.test {
  width: 640px;
  height: 360px;
  margin: 0 auto;
  background-color: black;
}
.masker {
    display: none;
}
.masker:hover {
        display: block;
        position: absolute;
        width: 100%;
        height: 180px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
}



